

<article *ngFor="let pysakki of tiedot">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h1>Pysäkin nimi</h1>
                <p>{{pysakki.name}} {{pysakki.code}}</p>

            </mat-panel-title>
            <mat-panel-description>
                This is a summary of the content
            </mat-panel-description>
        </mat-expansion-panel-header>

        <p>Poista tää</p>
    <div fxLayout="row">
        <div fxFlex="">
<ul>
    <mat-list *ngFor="let stoppi of pysakki.patterns">

        <mat-list-item>{{stoppi.name}}
        <span [class]="stoppi.directionId | piippu">
            <mat-icon class="material-icons">{{stoppi.directionId | routeDirection}}</mat-icon>
        </span>
        &nbsp;
        </mat-list-item>
        <mat-list-item>{{stoppi.route.shortName}}{{stoppi.route.longName}}</mat-list-item>
        <mat-list-item>{{ stoppi.name }}kartalla</mat-list-item>
    </mat-list>

</ul>
        </div>
        <div fxFlex="">
    <agm-map [latitude]="pysakki.lat" [longitude]="pysakki.lon" [zoom]="15" >
        <agm-marker [latitude]="pysakki.lat" [longitude]="pysakki.lon"></agm-marker>
    </agm-map>
        </div>
    </div>

    </mat-expansion-panel>
</article>


